@import "src/styles/colors";
.email-client {
  position: absolute;
  z-index: 5;
  left: 150px;
  top: 50px;
  font-size: 12px;
  box-shadow: 5px 5px 20px #444;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $background;
  .head {
    height: 32px;
    width: 100%;
    background: #0179D9;
    display: flex;
    padding-left: 8px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    cursor: default;
    user-select: none;
    color: white;

    .container {
      display: flex;
      flex: 1;
      align-items: center;
      height: 100%;
      &.center {
        justify-content: center;
      }
      &.right {
        display: flex;
        justify-content: flex-end;
        height: 100%;
        padding: 0;
        .material-icons {
          font-size: 17px;
          height: 100%;
          width: 35px;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            &:nth-child(1) {
              background: red;
              color: white;
            }
          }
        }
      }
      &.left {
        overflow: hidden;
        justify-content: flex-start;
        flex: 2;
        padding-left: 0;
      }
    }
  }
  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    display: block;
    border: none;
    border-bottom: 1px solid #eee;
    &:focus {
      outline: none !important;
    }
  }
  textarea {
    width: 750px;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    resize: none;
    display: block;
    margin-top: 5px;
    &:focus {
      outline: none !important;
    }
  }
  button {
    background-color: $badge;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    &:disabled {
      cursor: not-allowed;
      background-color: $sidebar-title;
    }
  }
}

@media only screen and (max-width: 920px) {
  .email-client {
    width: 70vw;
    .form-control {
      width: 100%;
    }
  }
}

@media screen and (max-width: 500px) {
  .email-client {
    top: 90px;
    height: calc(100% - 120px);
    left: 10px;
    width: calc(100% - 20px);
    .row {
      height: 100%;
    }
    form {
      display: flex;
      flex-direction: column;
      height: 100%;
      .form-group:nth-child(3) {
        flex: 1;
        textarea {
          height: 100%;
        }
      }
      button {
        width: 100%;
        margin: 0;
      }
    }
  }
}
