@import 'src/styles/sizes';
app-toolbar + div {
  display: flex;
}
app-terminal {
  height: 250px;
  overflow: hidden;
}

:ng-deep app-files {
  width: 100% !important;
  .files {
    width: 100%;
  }
}
.code {
  border-radius: 5px;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  position: absolute;
  z-index: 2;
  left: 150px;
  right: 25px;
  top: 50px;
  height: calc(100% - 50px);
  max-height: 800px;
  width: calc(100% - 175px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media only screen and (max-width: 500px) {
  .code {
    left: 10px;
    right: 10px;
    top: 90px;
    height: calc(100% - 120px);
    width: calc(100% - 20px);
  }
}

@media only screen and (max-width: 894px) {
  app-sidebar {
    display: none;
  }
  app-file {
    display: flex;
    overflow-x: scroll;
  }
  app-files {
    overflow: scroll;
  }
  app-terminal {
    width: 100%;
  }
}

::ng-deep .container.min {
  app-terminal {
    height: unset;
  }
  app-files app-home .content {
    height: calc(90vh - 50px);
  }
}
