@import 'src/styles/sizes';
app-toolbar + div {
  display: flex;
}
app-terminal {
  height: 250px;
  overflow: hidden;
}

#background {
  background-image: url('src/assets/windows-xp.jpeg');
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

::ng-deep app-icon {
  &:nth-of-type(3) {
    top: 250px;
  }
  &:nth-of-type(1) {
    top: 50px;
  }
  &:nth-of-type(2) {
    top: 150px;
  }
  &:nth-of-type(4) {
    bottom: 50px;
  }
}


.code {
  border-radius: 5px;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  position: absolute;
  z-index: 2;
  left: 150px;
  right: 25px;
  top: 50px;
  height: calc(100% - 50px);
  width: calc(100% - 175px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media only screen and (max-width: 850px) {
  app-sidebar {
    display: none;
  }
  app-file {
    display: flex;
    overflow-x: scroll;
  }
  app-files {
    overflow: scroll;
  }
  app-terminal {
    width: 100%;
  }
}

::ng-deep .container.min {
  app-terminal {
    height: unset;
  }
  app-files app-home .content {
    height: calc(90vh - 50px);
  }
  .blog-posts {
    height: calc(90vh - 50px);
  }
  app-contact {
    .container {
      height: calc(90vh - 50px);
    }
  }
}
