<div class="toolbar">
  <div class="left container">
    <img src="assets/file_type_vscode.svg"><span class="item">File</span><span class="item">Edit</span><span class="item">Selection</span><span
    class="item">View</span><span class="item">Go</span><span class="item">Run</span><span
    class="item">Terminal</span><span class="item">Help</span>
  </div>
  <div class="center container">
    <p>home.component.html - yusuf-info - Yusuf's Fake Visual Studio Code [Administrator]</p>
  </div>
  <div class="right container">
    <span class="material-icons">minimize</span><span class="material-icons">crop_din</span><span class="material-icons">close</span>
  </div>
</div>
