<div class="content">
  <div class="page-title">Let's connect!</div>
  <div class="social-links">
    <a href="https://youtube.com/c/yusufcodes" target="_blank" class="social-link">
      <img src="assets/youtube.png" height="40px" width="50px" />
      <div class="social-title">Yusuf Codes</div>
    </a>
    <a href="https://codepen.io/yyildiz" target="_blank" class="social-link">
      <img src="assets/codepen.png" height="40px" width="40px" />
      <div class="social-title">Codepen</div>
    </a>
    <a href="https://www.linkedin.com/in/yoyildiz/" target="_blank" class="social-link">
      <img src="assets/linkedin.png" height="40px" width="40px" />
      <div class="social-title linkedin">Linkedin</div>
    </a>
    <a href="https://github.com/yyildiz" target="_blank" class="social-link">
      <img src="assets/github.png" height="40px" width="50px" />
      <div class="social-title github">Github</div>
    </a>
    <a [routerLink]="'/contact'" class="social-link">
      <img src="assets/email.png" height="40px" width="40px" />
      <div class="social-title">Email</div>
    </a>
  </div>
</div>
