<div class="content">
  <div class="parent-container" id="header">
    <h1>Yusuf Yildiz</h1>
    <img src="assets/me.png" alt="" />
    <h2>First and foremost, a creator.</h2>
    <p>Full Stack Software Engineer living in Boston, MA</p>
  </div>
  <div class="parent-container" id="current">
    <h1>What I'm Doing Now</h1>
    <div class="experience-container">
      <h2>Brainshark</h2>
      <p class="title">Software Engineer II</p>
      <p class="date">May 2018 - Present</p>
    </div>
  </div>
  <div class="parent-container" id="past">
    <h1>What I've Done</h1>
    <div class="experience-container">
      <h2>Camp Systems</h2>
      <p class="title">Software Engineer</p>
      <p class="date">July 2017 - May 2018</p>
      <ul>
        <li>
          Developed proof of concept Angular2 demos in Kendo UI, DevExtreme,
          PrimeNG, and Material in researching the framework that future company
          projects will use (we decided on DevExtreme if you're wondering).
        </li>
        <li>
          Part of the initial company effort to introduce e2e testing into the
          flagship product with the C# Selenium / Fluent automation framework.
        </li>
        <li>
          Converted reports and reporting software from CrystalReports to C#
          DevExpress reducing print effort of 100,000+ pages per month by 15% -
          25%.
        </li>
      </ul>
    </div>
    <div class="experience-container">
      <h2>NASA Space HAUC</h2>
      <p class="title">Software Engineer</p>
      <p class="date">Feb 2016 - May 2017</p>
      <p class="description">
        Space HAUC is a UMass Lowell & NASA co-funded project with the goal of
        sending a cube satellite into orbit in an effort to demonstrate the
        practicality of high data rate communications on a 3U satellite.
      </p>
      <ul>
        <li>
          Created simulation of the satellite's interaction with the Earth's
          geomagnetic field in Matlab & Simulink for algorithm testing purposes.
        </li>
      </ul>
    </div>
    <div class="experience-container">
      <h2>Ledgex Systems</h2>
      <p class="title">Software Engineering Intern</p>
      <p class="date">June 2016 - Aug 2016</p>
      <ul>
        <li>
          Designed responsive and intuitive user interfaces with BackboneJS, CSS3,
          JQuery, and HTML5
        </li>
        <li>
          Created RESTful API endpoints in C# .NET and optimized existing
          endpoints.
        </li>
        <li>Developed unit tests to validate the performance of new features.</li>
      </ul>
    </div>
  </div>
</div>
