.container {
  display: flex;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.content {
  height: calc(90vh - 250px);
  overflow-y: scroll;
  padding: 20px 50px 50px;
  box-sizing: border-box;
  &.full {
    height: calc(90vh)
  }
}

@media only screen and (max-width: 715px) {
  .content {
    overflow: scroll;
    overflow-x: hidden;
    padding: 0 25px;
    font-size: 0.8em;
    width: calc(100vw - 50px);
    box-sizing: border-box;
    margin: 0;
    height: 90vh;
  }
}

@media only screen and (max-width: 500px) {
  .content {
    height: calc(90vh - 275px);
  }
}
