$black: #14100F;
$yellow: #B29969;
$background: #1e1e1e;
$menu-bg: #252526;
$menu-fg: #cccccc;
$selection-bg: #add6ff26;
$selection-active-bg: #3a3d41;
$foreground: #d4d4d4;
$badge: #007acc;
$constant: #569CD6;
$numeric: #B5CEA8;
$name: #D7BA7D;
$drop-bg: #383b3d;
$sidebar-title: #3a3d41;
$active-bg: #707070;
$selected-icon: #024F97;
