@import "src/styles/colors";
@import "src/styles/sizes";

app-sidebar-item {
  width: 100%;
}

.sidebar {
  height: calc(100vh - 30px);
  width: $sidebar-width;
  background: $menu-bg;
  color: $menu-fg;
  font-size: 11px;
  box-shadow: 2px 2px 2px $menu-bg;
  > .title {
    text-transform: uppercase;
    font-weight: 300;
    width: 100%;
    padding: 5px 15px;
    box-sizing: border-box;
  }
  .material-icons {
    font-size: 18px;
  }
  .tree {
    text-transform: uppercase;
    border-bottom: 1px solid rgba($menu-fg, 0.2);
    max-height: 350px;
    overflow-y: scroll;
    &:last-child {
      border-bottom: none;
    }
    .title {
      cursor: pointer;
      padding: 5px 15px;
      display: flex;
    }
    ul {
      text-transform: initial;
      li {
        cursor: pointer;
        width: 100%;
        display: flex;
      }
    }
  }
}
