@import "src/styles/colors";
@import "src/styles/sizes";

span {
  display: inline-flex;
  height: 15px;
  align-items: center;
  font-weight: 300;
}
div {
  width: 100%;
  padding-left: 20px;
  box-sizing: border-box;
  display: flex;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 47px;
    background: rgba(white, 0.1);
    height: 100%;
    width: 1px;
  }
  &:hover {
    background: $selection-bg;
  }
  // there should be a better way of dealing with nested div padding...
  // just adding padding-left of 20px to list elements messes up on hover effect
  // hacked this way for now...
  & + ul div {
    padding-left: 40px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: 47px;
      background: rgba(white, 0.1);
      height: 100%;
      width: 1px;
    }
    & + ul div {
      padding-left: 60px;
    }
  }
}
span > img {
  height: 13px;
  display: inline-flex;
  align-items: center;
  margin-right: 5px;
}

.material-icons {
  font-size: 15px;
}
