@import '../styles/colors';

#background {
  background-image: url('src/assets/windows-xp.jpeg');
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

::ng-deep app-icon {
  &:nth-of-type(1) {
    top: 50px;
  }
  &:nth-of-type(2) {
    top: 150px;
  }
  &:nth-of-type(3) {
    top: 250px;
  }
}


@media only screen and (max-width: 500px) {
  ::ng-deep {
    app-icon {
      &:nth-of-type(1) {
        top: 10px;
        left: 25px;
      }
      &:nth-of-type(2) {
        top: 10px;
        left: 125px;
      }
      &:nth-of-type(3) {
        top: 10px;
        left: 225px;
      }
    }
    .content {
      padding: 0 !important;
      .page-title {
        margin-left: 20px;
        margin-top: 10px;
      }
      .social-links {
        justify-content: center;
      }
    }
  }
}
