<div class="not-found">
  <div class="head">
    <div class="left container">
      <span>yusuf.info\404-not-found</span>
    </div>
    <div class="right container">
      <span class="material-icons">close</span>
    </div>
  </div>
  <div class="body">
    <img src='assets/x.png' height="35px">
    <div class="error-text">
      <div>404 Not Found</div>
      <div>Looks like you're trying to navigate to a non-existant page!</div>
    </div>
  </div>
  <div class="bottom">
    <button>OK</button>
  </div>
</div>
