<div class="sidebar">
  <div class="title">Explorer</div>
  <div class="tree">
    <div class="title"><span class="material-icons">keyboard_arrow_right</span>Open Editors</div>
  </div>
  <div class="tree">
    <div class="title"><span class="material-icons">keyboard_arrow_down</span>yusuf-info</div>
    <ul>
      <li><div><span class="material-icons">keyboard_arrow_right</span><span><img src="assets/folder_type_e2e.svg" alt=""></span><span>e2e</span></div></li>
      <li><span class="material-icons">keyboard_arrow_right</span><span><img src="assets/file_type_ng_module_ts.svg" alt=""></span><span>node_modules</span></li>
      <li><span class="material-icons">keyboard_arrow_down</span><span><img src="assets/folder_type_src.svg" alt=""></span><span>src</span>
        <ul>
          <li>app</li>
        </ul>
      </li>
      <li><span>.editorconfig</span></li>
      <li><span>.gitignore</span></li>
      <li><span>angular.json</span></li>
      <li><span>browserslist</span></li>
      <li><span>package.json</span></li>
      <li><span>package-lock.json</span></li>
    </ul>
  </div>
  <div class="tree">
    <div class="title"><span class="material-icons">keyboard_arrow_right</span>Timeline</div>
  </div>
  <div class="tree">
    <div class="title"><span class="material-icons">keyboard_arrow_right</span>Npm Scripts</div>
  </div>
</div>
