<app-modal
  [title]="'Welcome to yusuf.info!'"
  [bodyTitle]="'Navigation Instructions'"
  [bodyContent]="bodyContent"
  [imgSrc]="'assets/clippy.gif'"
  [show]="shouldShow"
></app-modal>
<div class="notepad">
  <div class="head">
    <div class="left container">
      <img src="assets/notepad.png"/>
      <span>Yusuf's notes - Notepad {{shouldShow}}</span>
    </div>
    <div class="right container">
      <span class="material-icons">minimize</span><span class="material-icons">crop_din</span><span
        class="material-icons">close</span>
    </div>
  </div>
  <div class="toolbar">
    <span>File</span><span>Edit</span><span>Format</span><span>View</span><span>Help</span>
  </div>
  <div contenteditable="true" class='textarea'>
    <p>&emsp;Hey there, I’m Yusuf.</p>
    <p>&emsp;As a software engineer I work to build elegant and precise solutions to complex web problems.</p>
    <p>&emsp;My entrepreneurial experiences give me the mindset necessary to approach problems with efficiency and creativity while my full stack background allows me to contribute at every level of an application.</p>
  </div>
  <div class="bottom-toolbar">
    <div></div>
    <div>Ln 1, Col 1</div>
    <div> 100%</div>
    <div>Windows (CRLF)</div>
    <div>UTF-8</div>
  </div>
</div>
