@import 'src/styles/colors';
.notepad {
  width: calc(50vw);
  max-width: 600px;
  height: 400px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  box-shadow: 5px 5px 20px #444;
  z-index: 3;
  position: absolute;
  left: 150px;
  top: 50px;
  color: $background;
}

@media screen and (max-width: 1020px) {
  .notepad {
    width: 70vw;
  }
  ::ng-deep {
    .bottom-toolbar {
      div:nth-child(4) {
        flex: 1 !important;
        min-width: 100px;
      }
    }
  }
}

@media screen and (max-width: 501px) {
  .notepad {
    top: 90px;
    left: 10px;
    height: calc(100% - 120px);
    width: calc(100% - 20px);
    ::ng-deep {
      .bottom-toolbar {
        div:nth-child(1) {
          flex: 1 !important;
        }
        div:nth-child(4) {
          flex: 1 !important;
          min-width: 100px;
        }
      }
    }
  }
}

.head {
  height: 32px;
  width: 100%;
  background: white;
  display: flex;
  padding-left: 8px;
  box-sizing: border-box;
  align-items: center;
  cursor: default;
  user-select: none;
  .container {
    display: flex;
    flex: 1;
    align-items: center;
    &.center {
      justify-content: center;;
    }
    &.right {
      display: flex;
      justify-content: flex-end;
      height: 100%;
      .material-icons {
        font-size: 17px;
        height: 100%;
        width: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:nth-child(1) {
          padding-bottom: 7px;
          box-sizing: border-box;
        }
        &:nth-child(2) {
          font-size: 13px;
        }

        &:hover {
          background: #E5E5E5;
          &:nth-child(3) {
            background: red;
            color: white;
          }
        }
      }
    }
    &.left {
      overflow: hidden;
    }
  }
  img {
    height: 18px;
    width: 18px;
    margin-right: 5px;
  }
}
.toolbar {
  height: 22px;
  width: 100%;
  border-bottom: 1px solid #F0F0F0;
  background: white;
  span {
    font-size: 11px;
    box-sizing: border-box;
    padding: 5px 8px;
    height: 100%;
    user-select: none;
    display: inline-block;
    &:hover {
      background: #E5F3FF;
      cursor: default;

    }
  }
}
.textarea {
  border: none;
  resize: none;
  width: 100%;
  height: calc(100% - 76px);
  overflow-x: scroll;
  overflow-y: scroll;
  font-size: 18px;
  box-sizing: border-box;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 50px 25px 25px;
  &:focus {
    outline: none !important;
  }
  p {
    margin: 5px;
  }
}

.bottom-toolbar {
  background: #F0F1F0;
  height: 22px;
  width: 100%;
  margin-top: -2px;
  border-top: 1px solid #D7D7D7;
  display: flex;
  div {
    flex: 1;
    border-left: 1px solid #D7D7D7;
    display: flex;
    align-items: center;
    padding-left: 5px;
    box-sizing: border-box;
    user-select: none;
    &:nth-child(1) {
      flex: 2;
    }
    &:nth-child(3) {
      flex: .4;
    }
  }
}
